.k-header h1 {
    margin: 0;
    padding: 30px 15px;
    font-size: 32px;
    font-weight: lighter;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0 !important;
    margin-bottom: 60px;
    font-family: 'helvetica';
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container-fluid .text-muted {
    margin: 20px 0;
}

.placeholders {
    margin: 30px auto;
}

.placeholder img {
    display: inline-block;
}

p .k-button {
    margin: 0 15px 0 0;
}

.btn-toggle {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
    height: 48px;
}

.btn-toggle .k-icon {
    opacity: 1;
}

.btn-toggle,
.k-primary.btn-toggle:hover,
.btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
.btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
    box-shadow: none;
    border-radius: 0;
}

.btn-toggle .k-i-hbars,
.k-primary.btn-toggle:hover .k-i-hbars,
.btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
.btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
    background-position: -80px -32px;
}

@media (max-width: 768px) {
    .k-item {
        display: block;
        clear: both;
        float: none;
        width: 100%;
    }
    .k-header h1 {
        margin: 0;
        padding: 16px 15px 14px 60px;
        font-size: 18px;
        font-weight: lighter;
    }
}


/*------------------------------INDEX.HTML--------------------------------*/

#megaStore {
    max-width: 600px;
    margin: 30px auto;
    padding-top: 120px;
    background: url('../content/web/menu/header.jpg') no-repeat center 0;
}

#menu h2 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 10px;
}

#template img {
    margin: 5px 20px 0 0;
    float: left;
}

#template {
    width: 380px;
}

#template ol {
    float: left;
    margin: 0 0 0 30px;
    padding: 10px 10px 0 10px;
}

#template:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#template .k-button {
    float: left;
    clear: left;
    margin: 5px 0 5px 12px;
}

.menu-Right {
    text-align: right !important;
    float: right !important;
}

.overview-Label-Border {
    top: 660%;
    position: absolute;
    left: 37.2%;
    border-style: solid;
    border: 3px solid black;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.overview-Border {
    border-style: solid;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 350px;
    left: 37.2%;
    top: 965%;
    position: absolute;
}

.booking-Label-Border {
    top: 560%;
    position: absolute;
    left: 112%;
    border-style: solid;
    border: 3px solid black;
    padding: 20px;
    min-width: 600px;
    width: 600px;
    text-align: center;
}

.column {
    float: left;
    position: relative;
    width: 47.5%;
    padding: 10px;
}

.placeholder {
    float: left;
    width: 5%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.booking-Border {
    top: 864%;
    position: absolute;
    left: 112%;
    border-style: solid;
    border: 3px solid black;
    padding: 20px;
    width: 600px;
    height: 250px;
    text-align: center;
}

.bookingStates-Border {
    top: 2330%;
    position: absolute;
    left: 112%;
    border-style: solid;
    border: 3px solid black;
    padding: 20px;
    width: 600px;
    height: 500px;
}

.k-grid .k-header {
    display: none;
}

.k-grid td {
    border-width: 0;
}

.colored-green {
    color: green;
}

.colored-red {
    color: red;
}

.FlexitimeCreditTableDivStyle {
    top: 21%;
    position: absolute;
    left: 6%;
}

.FlexitimeCreditValueTableDivStyle {
    top: 21%;
    position: absolute;
    left: 42%;
}

.LeaveCreditTableDivStyle {
    top: 42%;
    position: absolute;
    left: 6%;
}

.LeaveCreditValueTableDivStyle {
    top: 42%;
    position: absolute;
    left: 42%;
}

.ApplyForLeaveTableDivStyle {
    top: 80%;
    position: absolute;
    left: 5%;
    width: 200px;
    height: 50px;
}

.ComeGoButtonStyle {
    font-size: xx-large;
    top: 10%;
    position: absolute;
    right: 5%;
    width: 350px;
    height: 125px;
}

.ClockTableDivStyle {
    top: 27%;
    position: absolute;
    right: 75%;
    font-size: xx-large;
}

.CompleteTimeTodayTableDivStyle {
    top: 75%;
    position: absolute;
    right: 30%;
}

.CompleteTimeTodayValueTableDivStyle {
    top: 75%;
    position: absolute;
    right: 5%;
}


/*------------------------------LOGIN.HTML--------------------------------*/

.form_loginStyle {
    width: 600px;
    height: 350px;
    border: 3px solid black;
    margin-top: 15%;
    margin-left: 35%;
}

.titleStyle {
    display: block;
    text-align: center;
    border-bottom: 3px solid black;
    width: 100%;
    margin-top: 25px;
    height: 50px;
}

.inputDivStyle {
    display: grid;
    margin-left: 200px;
    margin-top: 20px;
}

.iconStyle {
    font-size: 80px;
    margin-left: 10%;
    margin-top: auto;
}

.loginButtonStyle {
    width: 100px;
    height: 50px;
    margin-left: 17%;
}

.fontSizeXLarge {
    font-size: x-large;
}

.event-template img {
    float: left;
    margin: 0 8px;
}

body,
h1,
h2,
h3 {
    margin: 0px;
}